<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :account_email %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, id: :account_is_active %>
  </div>

  <div class="field">
    <%= form.label :plan_tier %>
    <%= form.text_field :plan_tier, id: :account_plan_tier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
